.base-level {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.base-img {
  width: 600px;
  height: 600px;
  border-radius: 20px;
  border: 7px solid white;
}

@media (max-width: 650px) {
  .base-img {
    width: 80%;
    height: auto;
  }

  .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.image-container {
  display: inline-block;
}


.image-text {
  position: absolute;
  top: 0px;
  left: 20px;
  font-size: 30px;
  -webkit-text-stroke: 1px black;
}

:root {
  background-color: black;
}

